body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  margin: 0;
  background-color: #BCBAB7;
  overflow-x: hidden;
}

section {
  width: 100%;
}

h2{
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header{
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px solid #606265;
}

header .images{
  position: absolute;
  top: 0;
  left: 0;
}
/* между бордером и контентом- паддинг
между бордером и внешним миром -марджин */

header nav{
  height: 38px;
  display: flex;
  column-gap: 80px;
}

header nav a{
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Space Grotesk',normal;
  font-weight: 700;
  text-decoration: none;
  color: #606265;
}

header nav a:visited{
  color: #606265;
}

header nav a:hover{
  color: #DE9244;
  text-decoration: underline;
}

section.custom_shoppers{
  padding-left: 580px;
  width: 100%;
  height: 760px;
}

section.custom_shoppers h2{
  margin: 100px 0 24px;
  line-height: 90px;
  font-size: 90px;
  font-family: 'Space Mono',normal;
  font-weight: 700;
  position: relative;
  overflow-wrap: break-word;
  color: #606265;
  text-shadow: #DE9244 1px 1px 0, #DE9244 2px 2px 0,
                #DE9244 3px 3px 0, #DE9244 4px 4px 0,
                #DE9244 5px 5px 0;
}

section.custom_shoppers h3{
  color:#606265;
  font-family: 'Space Grotesk',normal;
  font-size: 36px;
  font-weight: 400;
}

section.custom_shoppers p{
  margin-top: 34px;
  font-family: 'Space Grotesk' , normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #5F6062;
}

/* кнопка learn more  */
section.custom_shoppers a{
  padding: 10px 50px;
  font-family: 'Space Grotesk',normal;
  line-height: 31px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .1s linear, color .1s linear;
  border: 3px solid #606265;
  background-color: #C0B6AB;
  color: #48504D;
  margin: 32px auto 0 auto ;
  display: block;
  text-align: center;
  width: fit-content;
}

.woman{
  position: absolute;
  left: 20px;
  top: 158px;
}
 /* свойтсво display */
section.custom_shoppers a:hover {
  background-color: #DE9244;
  color: #48504D;
}

/* 2 страница */
section.production {
  background-color: #718479;
  position: relative;
  padding-bottom: 100px;
}

/* Почитать про grid, grid-template-column */
section.production > div {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  width: calc(100% - 60px);
  padding: 70px 30px;
  column-gap: 70px;
}

section.production .block{
  background: #BCBAB7;
  padding: 50px;
}
/* прочитаьь про flex 1  */
section.production p{
  text-align: center;
  font-size: 22px;
  font-family: 'Space Grotesk',normal;
  color: #606265;
  text-transform: uppercase;
}

section.production p.stage1{
  color: #DE9244;
  font-size: 48px;
  text-transform: uppercase;
}

section.production h2{
  color: #DE9244;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Space Mono', normal;
  padding-top: 20px;
}
.images{
  position: relative;
}



/* страница 3 */
section.examples-of-work{
  background-color: #CAC7C5;
  position: relative;
  padding-bottom: 800px;
}

.examples1{
  margin: 110px;
  border: 15px solid #8A8A8B;
  position: absolute;
  left:0;
  top:0;
}

.examples2{
  border: 15px solid #8A8A8B;
  margin: 110px;
  position: absolute;
  right:0;
  top:0;
}

.examples3{
  border: 15px solid #8A8A8B;
  margin: 110px;
  position: absolute;
  left:0;
  bottom:0;
}

.examples4{
  border: 15px solid #8A8A8B;
  margin: 110px;
  position: absolute;
  right:0;
  bottom:0;
}

section.examples-of-work h2{
  font-family: 'Space Mono',normal;
  font-weight: bold;
  font-size: 130px;
  color: #606265;
  text-transform: uppercase;
  padding-top: 800px;
  text-align: center;
}

section.examples-of-work h3{
  font-family: 'Space Grotesk',normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #606265;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  font-weight: normal;
}

section.examples-of-work a{
  padding: 10px 50px;
  font-family: 'Space Grotesk',normal;
  line-height: 31px;
  font-size: 24px;
  font-weight: bold;
  /* display: flex;
  justify-content: center; */
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .1s linear, color .1s linear;
  border: 3px solid #606265;
  background-color: #C0B6AB;
  color: #48504D;
  margin: 32px auto 0 auto ;
  display: block;
  text-align: center;
  width: fit-content;
}

section.examples-of-work a:hover {
  background-color: #DE9244;
  color: #48504D;
}

.back1{
  position: absolute;
  left: 0;
  top: 0;
}

.back2{
  position: absolute;
  right: 0;
  top: 0;
}

.back3{
  position: absolute;
  right: 0;
  bottom: 0;
}

.woman4{
  position: absolute;
  bottom: 0;
  left: 590px;
  z-index: 1;
}
/* подвал */
footer{
  background-color:  #D6C9BA;
  height: 237px;
}

footer h2{
  font-family: 'Space Mono',normal;
  font-weight: bold;
  font-size: 48px;
  /* line-height: 4px; */
  text-align: center;
  color: #6A6D6E;
  margin-bottom: 0;
  padding-top: 10px;
}

footer h3{
  font-family: 'Space Grotesk',normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #6A6D6E;
  margin-top: 0;
  margin-bottom: 0;
}

footer a{
  padding: 10px 50px;
  font-family: 'Space Grotesk',normal;
  line-height: 31px;
  font-size: 24px;
  font-weight: bold;
  /* display: flex;
  justify-content: center; */
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .1s linear, color .1s linear;
  border: 3px solid #606265;
  background-color: #C0B6AB;
  color: #48504D;
  margin: 15px auto 0 auto ;
  display: block;
  text-align: center;
  width: fit-content;
}

footer a:hover {
  background-color: #DE9244;
  color: #48504D;
}

/* 4 страница */
section.how-to-order{
  background-image: linear-gradient(to bottom right, #718479, #E2BE99);
  padding-bottom: 100px;
  position: relative;
}

section.how-to-order h2{
  font-family: 'Space Mono',normal;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: #DE9244;
  text-decoration: underline solid 4px;
}

section.how-to-order h3{
  font-family: 'Space Grotesk',normal;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  text-align: center;
  color: #DE9244;
  margin-top: 0px;
  margin-bottom: 0px;
}

section.how-to-order p{
  font-family: 'Space Grotesk',normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #DE9244;
  text-transform: uppercase;
}

section.how-to-order .unit1{
  background: #646969;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 19px 790px 52px 40px;
  text-align: center;
}

section.how-to-order .unit2{
  background: #646969;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 66px 50px 860px;
  text-align: center;
}

section.how-to-order .unit3{
  background: #646969;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 574px 173px 90px;
  text-align: center;
}

section.how-to-order p.stape{
  font-family: 'Space Grotesk',normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #DE9244;
  padding-top: 23px;
}

section.how-to-order .woman5{
  position: absolute;
  right: 0;
  text-align: center;
}

section.how-to-order .woman6{
  position: absolute;
  left: 0;
  top: 740px;
}

section.how-to-order .woman7{
  position: absolute;
  right: 0;
  bottom: 30px;
}

.arrow1{
  position: absolute;
  top: 705px;
  left: 445px;
}

.arrow2{
  position: absolute;
  top: 1213px;
  right: 360px;
}


@media (max-width:1200px) {
  .woman{
  width: 550px;
  height: 500px;
  }

  .ellipse{
    width: 450px;
    height: 800px;
  }

  header{
    margin-right: -54px;
  }

  header nav a{
    font-size: 20px;
  }

  section.custom_shoppers h2 {
    font-size: 75px;
    line-height: 75px;
  }

  section.custom_shoppers h3 {
    font-size: 26px;
  }

  section.custom_shoppers p {
    font-size: 20px;
  }

  section.custom_shoppers a{
    padding: 9px 35px;
    line-height: 31px;
    font-size: 18px;
    margin: 20px auto 0 auto ;
  }


}

@media (max-width:992px){

  section.custom_shoppers {
    padding-left: 400px;
  }

  .woman{
  width: 450px;
  height: 400px;
  }

  .ellipse{
    width: 350px;
    height: 700px;
  }

header{
  margin-right: -124px;
}

  header nav a{
    font-size: 16px;
  }

  section.custom_shoppers h2 {
    font-size: 65px;
    line-height: 65px;
  }

  section.custom_shoppers h3 {
    font-size: 20px;
  }

  section.custom_shoppers p {
    font-size: 15px;
  }

  section.custom_shoppers a{
    padding: 6px 30px;
    line-height: 31px;
    font-size: 13px;
    margin: 15px auto 0 auto ;
  }

}

@media (max-width:767px) {
  section.custom_shoppers {
    padding-left: 200px;
    height: 530px;
  }

  .woman{
    margin-top: 10px;
    margin-left: -40px;
    width: 270px;
    height: 250px;
  }

  .ellipse{
    width: 150px;
    height: 300px;
    margin-top: 160px;
  }

header{
  margin-right: -179px;
  padding-bottom: 0px;
  padding-top: 20px;
}

  header nav a{
    font-size: 10px;

  }

  section.custom_shoppers h2 {
    font-size: 30px;
    line-height: 65px;
    margin-top: 1px;
    margin-right: -100px;
  }

  section.custom_shoppers h3 {
    font-size: 20px;
    margin-right: -100px;

  }

  section.custom_shoppers p {
    font-size: 15px;
    margin-right: -100px;
  }

  section.custom_shoppers a{
    padding: 6px 30px;
    line-height: 31px;
    font-size: 17px;
  }
  
  section.production {
    width: 150%;
  }


  section.production > div {
    padding: 50px 12px;
    column-gap: 12px;
    text-align: center;
  }

  section.production .block{
    padding: 17px;
   }

  section.production p{
    font-size: 20px;
  }

  section.production p.stage1{
    font-size: 30px;
  }

  section.production h2{
    font-size: 60px;
    padding-top: 20px;
    margin-left: -100px;

  }

  .woman2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 190px;
    height: 150px;
  }

  .woman3{
    position: absolute;
    right:0;
    top:0;
    width: 240px;
    height: 170px;
    padding-left: 70px;
    padding-top: 20px;
  }

}
